*.pyc
codebase-secret.json
__pycache__/app.cpython-312.pyc
__pycache__/auth_forms.cpython-312.pyc
__pycache__/auth_routes.cpython-312.pyc
__pycache__/dashboard_routes.cpython-312.pyc
__pycache__/discover_routes.cpython-312.pyc
