:root {
    --color: #733DF0;
    --star-color: #696464;
    --star-background: rgb(201, 186, 57);
}

body {
    scrollbar-color: blue;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 2.083vw;
    height: min-content;
    /* border: 0.052vw solid white; */
    align-items: center;
    list-style: none;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 300;
}

li>a {
    color: rgba(255, 255, 255, 0.897);
    transition: 0.4s;
}

li>a:hover {
    color: var(--color);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #0A0D12;
}

.container {
    display: grid;
    color: white;
}

.fadeinanimation {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.navbar {
    border-bottom: 0.052vw solid #2B3245;
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: #0D1117;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.2s;
    z-index: 100;
}

.navlinks-right {
    padding: 0 2.083vw 0 0;
    /* align-items: center; */
}

.navlinks-left {
    padding: 0 0 0 2.083vw;
    /* align-items: center; */
}

.searchform {
    display: flex;
}

#searchbar:focus {
    outline: none;
}

#searchbar {
    width: 15vw;
    height: 4vh;
    border-radius: 0.365vw 0px 0px 0.365vw;
    border: none;
    text-indent: 1.042vw;
    font-size: 0.833vw;
    color: #b3b3b3;
    background-color: #202124;
}

#searchbtn:hover {
    cursor: pointer;
}

#searchbtn {
    width: 2.188vw;
    border-radius: 0px 0.365vw 0.365vw 0px;
    background: #424347;
    border: none;
}

/* --------------------- CHAT BOX ---------------------*/

.chat-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    margin-top: 7vh;
    height: 93vh;
}

.chats-panel {
    overflow-y: auto;
    max-height: 93vh;
    width: 100%;
    background-color: #0F0F0F;
}

.user-chats .message {
    margin: 6px 0;
    padding: 8px 12px;
    border-radius: 8px;
}

/* Style for messages sent by the current user */
.user-chats .message-right {
    background-color: #DCF8C6; /* Light green background */
    color: #000; /* Black text color */
    text-align: right;
}

/* Style for messages sent by other users */
.user-chats .message-left {
    background-color: #F0F0F0; /* Light gray background */
    color: #000; /* Black text color */
    text-align: left;
}

/* Style for sender information */
.user-chats .sender {
    font-weight: bold;
    margin-right: 5px;
}

.one-chat {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 1.042vw;
    border-bottom: 0.052vw solid #232420;
    gap: 1.563vw;
    transition: 0.3s;
}

.one-chat:hover {
    background-color: #2e2e2e;
}

.name-recent-chat {
    width: 26.042vw;
    display: flex;
    flex-direction: column;
    gap: 0.469vw;
}

.chat-area {
    background: linear-gradient(25deg, #0A0E39 0.07%, #0C1213 0.07%, #0b3c4b 99.93%);
    background-blend-mode: color-dodge;
}

.user-chats {
    overflow-y: auto;
    max-height: 90vh
}

.textbox {
    display: flex;
    justify-content: flex-start;
    padding: 0.521vw;
    /* Adjust padding */
    align-items: center;
    background: #0F0F0F;
    gap: 1.563vw;
    position: absolute;
    bottom: 0;
    /* Align to the bottom */
    height: 3.75vw;
    /* Set height of the textbox */
    box-sizing: border-box;
    /* Include padding and border in the total width and height */
}


.textbar-sendbtn {
    display: flex;
    height: 3.75vw;
    justify-content: center;
    align-items: center;
    gap: 1.042vw;
}

.user-chats {
    display: flex;
    flex-direction: column;
}

.user-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-text {
    display: flex;
    flex-direction: column;
}

#attachments {
    width: 0.781vw;
    height: 0.781vw;
    background-color: #122943;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.042vw;
    border-radius: 50%;
}

.paperclip {
    font-size: 1.302vw;
    color: #ffffff;
}

.user-chats {
    overflow-y: auto;
    padding: 0px 1.042vw 0px 1.042vw;
    max-height: 87vh;
}

#send-circle {
    width: 0.781vw;
    height: 0.781vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48259A;
    border-radius: 50%;
    padding: 1.042vw;
}

.send {
    font-size: 1.302vw;
    color: #ffffff;
}

#text-bar:focus {
    outline: none;
}

#text-bar {
    font-size: 1.042vw;
    border: none;
    font-weight: 100;
    color: #ffffffde;
    width: 55.208vw;
    height: 2.708vw;
    border-radius: 2.604vw;
    background-color: #161414;
    padding: 0px 1.042vw 0px 1.042vw;
}

#chat,
#name {
    font-weight: 300;
    margin: 0;
}

#name {
    font-size: 1.146vw;
}

#chat {
    color: #ffffff85;
    white-space: nowrap;
    font-size: 0.938vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

#prof-pic {
    height: 4.167vw;
    width: 4.167vw;
    border-radius: 5.208vw;
}

.profile-picture{
    font-size: 2vw !important;
    cursor: pointer;
}

.acc-info-drop-down{
    position: relative;
}

.tilted-container{
    position: absolute;

    left: 0.44vw;
    top: 3.38vw;

    height: 0%;
    background-color: #0F0F0F;
    transform: rotate(45deg);

    border-top: 1px solid #2B3245;
    border-left: 1px solid #2B3245;
    z-index: 101;
}

.tilted-container.active{
    width: 1vw;
    height: 1vw;
}

.dropdown{
    position: absolute;

    left: -15.77vw;
    top: 3.9vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding-top: 1vw; */

    height: 0%;
    width: 22vw;
    background-color: #0F0F0F;
    border-radius: 0.5vw;
    border: 1px solid #2B3245;
    z-index: 100;
    opacity: 0;

    transition: opacity 0.15s ease-in-out;
}

.dropdown.active{
    opacity: 1;
    width: 19vw;
    height: 32vw;
}

.dropdown .acc-dropdown-display{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    margin-bottom: 2vw;
}

.acc-dropdown-display .profile-picture{
    font-size: 5.6vw !important;
    margin-bottom: -0.7vw;
}

.first-and-last-name{
    font-size: 1.35vw;
    color: #FFFFFF;
}

.user-name{
    color:rgba(255, 255, 255, 0.6);
    font-size: 0.85vw;
}

.account-dropdown-options{
    margin-bottom: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.acc-dropdown-button{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-dropdown-button span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 0.8vw;

    top: 0.63vw;
    left: 2.65vw;

    pointer-events: none;
}

.acc-dropdown-button i{
    position: absolute;
    top: 0.5vw;
    left: 0.92vw;
    font-size: 1vw;
    color: white;

    pointer-events: none;
}

.acc-dropdown-button button{
    margin: 0.1vw 0;
    height: 2.26vw;
    width: 96%;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.acc-dropdown-button button:hover{
    transition: 0.2s;
    background-color: #5823d3;
}

.log-out{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.log-out button{
    margin: 0.1vw 0 0 0.285vw;
    height: 2.26vw;
    width: 6.1vw;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.log-out button:hover{
    transition: 0.2s;
    background-color: #2a2a2a;
}

.log-out i{
    position: absolute;
    top: 0.5vw;
    left: 0.92vw;
    font-size: 1vw;
    color: white;
    pointer-events: none;
}

.log-out span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 0.8vw;

    top: 0.63vw;
    left: 2.65vw;

    pointer-events: none;
}