.account-options-card{
    overflow: hidden;
    background-image: linear-gradient(to top right, rgb(9, 14, 17),rgb(11, 23, 41))
}

.sidebar{
    margin-top: 7vh;
    background-color: #0F0F0F;
    height: 93vh;
    width: 23.5vw;
    border-right: 1px solid #2B3245;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
}

.acc-info-display{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    min-height: 13.811vw;
    /* margin-top: -8vw; */
}

.acc-info-display .profile-pic{
    color: white !important;
    font-size: 7.3vw;
    margin-bottom: -1vw;
}

.fst-name-lst-name{
    font-size: 2vw;
    color: #FFFFFF;
}

.username{
    color:rgba(255, 255, 255, 0.6);
    font-size: 0.9vw;
}

.acc-info-content{
    margin-top: 7vh;
    margin-left: 23.5vw;
    min-height: 93vh;
    width: 76.5vw;
}

.account-info-all-options{
    display: flex;
    flex-direction: column;
    gap: 12vw;
}

.account-info-options{
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.acc-info-button{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-info-button span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 1vw;

    top: 0.925vw;

    pointer-events: none;
}
.acc-info-button span:not(.wallet-amt) {
    left: 3.7vw;
}
.acc-info-button .wallet-amt {
    right: 0.85vw;
}

.acc-info-button i{
    position: absolute;
    top: 0.57vw;
    left: 1.4vw;
    font-size: 1.45vw;
    color: white;

    pointer-events: none;
}

.acc-info-button button{
    margin: 0.2vw 0;
    height: 2.9vw;
    width: 95%;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.acc-info-button button:hover{
    transition: 0.2s;
    background-color: #5823d3;
}

.logout{

    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.logout button{
    margin: 0.2vw 0 0 0.7vw;
    height: 2.9vw;
    width: 8vw;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.logout button:hover{
    transition: 0.2s;
    background-color: #2a2a2a;
}

.logout i{
    position: absolute;
    top: 0.57vw;
    left: 1.5vw;
    font-size: 1.45vw;
    color: white;

    pointer-events: none;
}

.logout span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 1vw;

    top: 0.925vw;
    left: 3.7vw;

    pointer-events: none;
}

@media screen and (height: 774.4px) {
    .logout {
        margin-top: 4vw;
    }
}

@media screen and (height: 742.4px) {
    .logout {
        margin-top: 0.72vw;
    }
}

@media screen and (height: 864px) {
    .logout {
        margin-top: 7.8vw;
    }
}