:root {
    --color: #733DF0;
    --star-color: #696464;
    --star-background: rgb(201, 186, 57);
}

p{
    margin:0;
}

h2{
    margin:0;
}

.dashboard-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid rgb(255, 5, 5); */
    height: 93vh;
    margin-top: 7vh;
}

.left-content{
    border-right: 1px solid #2B3245;
    padding: 1.042vw 1.563vw;
}

.right-content{
    padding: 1.042vw 1.563vw;
    display: grid;
}

.base-summary{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.summary-boxes{
    display: flex;
    gap: 0.521vw;
}

#summary-type{
    margin: 0;
    font-size: 0.833vw;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 300;
}

#summary-detail{
    margin: 0;
    font-size: 1.667vw;
    color: #FFF;
    font-weight: 350;
}

.title-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-icons{
    font-size: 1.823vw;
    color: #fff;
    padding: 0.521vw 1.042vw;
    background-color: #0D1117;
    box-shadow: 0px 0.208vw 0.208vw 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.365vw;
}

#summary-title{
    margin-top:0;
    font-size: 1.667vw;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 0.521vw;
}

.money-chart{
    display: flex;
    flex-direction: column;
    margin-top: 2.604vw;
}

.chart{
    width: 46.823vw;
    height: 16.094vw;
    border-radius: 0.417vw;
    background: #0D1117;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn-style{
    display: flex;
    justify-content: center;
    padding: 0.417vw 0.938vw;
    padding-top: 0.521vw;
    align-items: center;
}

.view-bttn{
    border-radius: 0.365vw;
    background: #121820;
    /* padding: 0.365vw 0.521vw; */
    height: fit-content;
    width: fit-content;
    border: none;

    font-size: 0.833vw;
    font-style: normal;
    font-weight: 400;
}

#work-inprogress{
    color: #787676;
    text-align: center;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.comp-img-name{
    display: flex;
    align-items: center;
    gap:0.521vw;
}

#comp-img{
    width: 2.344vw;
    height: 2.344vw;
    border-radius: 0.365vw;
}

.transaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0D1117;
    padding-bottom: 0.365vw;
}

.payments{
    display: grid;
    row-gap: 0.365vw;
    margin-top: 0.781vw;
}

.payments-summary{
    margin-top: 1.042vw;
}

.payment-text{
    margin: 0;
    color: #FFF;
}

.status{
    font-size: 1.042vw;
    font-weight: 300;
}

#comp-name{
    font-weight: 340;
    font-size: 1.25vw;
}

#amount{
    font-weight: 540;
    font-size: 1.25vw;
}

#hire-heading p{
    margin: 0;
}

caption {
    background-color: #0D1117;
    border-radius: 0.417vw 0.417vw 0px 0px;
    padding: 0.521vw 0.521vw 0.521vw 1.094vw;
    font-size: 1.25vw;
    text-align: start;
}

.hire-details td{
    padding: 0.417vw 0px 0.417vw 0px;
    font-size: 0.833vw;
    width: 10.417vw;
    font-weight: 200;
}

.table-headings th{
    text-align: center;
    padding: 0.521vw 0px 0.521vw 0px;
    font-weight: 425;
    font-size: 0.833vw;
}

.table-headings{
    background-color: #0B1018;
    border-bottom: 1px solid #151A26;
}

.table_component {
    width: 100%;
    color: #FFF;
}

.hire-details{
    display: grid;
    background-color: #0B0F15;
    max-height: 16.771vw; /* Set the maximum height */
    overflow-y: auto;
    width: 46.771vw;
    border-radius: 0px 0px 0.417vw 0.417vw;
}

.details-hire:hover{
    background-color: #0F141B;
}

.details-hire{
    display: table;
    transition: 0.3s;
    /* padding: 0px 84px;
    justify-content: space-between; */
}

.table_component table {
    /* border: 1px solid #dededf; */
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
 
}

.scrollable-table{
    display: block;
    max-height: 14.167vw;
    overflow: auto;
}

.bank-paymethod-details{
    color: #FFF;
    margin-top: 1.563vw;
    background-color: #0D1117;
    border-radius: 0.417vw 0.417vw 0px 0px;
}

.banking-title{
    margin: 0;
    padding: 0.521vw 0.521vw 0.521vw 21px;
    font-size: 1.25vw;
    text-align: start;
    font-weight: 400;
}

.bank-img-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.521vw;
}

.bankimg{
    color: #8B8585;
    font-size: 2.865vw;
}

#payment-redirect{
    font-size: 0.833vw;
    color: #72409b;
    font-weight: 600;
}

#bank-text{
    font-size: 1.042vw;
    font-weight: 600;
    color: #787676;
}

.banking-details{
    height: 16.146vw;
    display: flex;
    flex-direction: column;
    background-color: #0B0F15;
    justify-content: center;
    align-items: center;
}