body, html{
    margin:0;
    padding:0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #0A0D12;
    
}

a{
    color: whitefffe5;
    text-decoration: none;
}

ul{
    display:flex;
    gap: 40px;
    height: min-content;
    /* border: 1px solid white; */
    align-items: center;
    list-style: none;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

li > a{
    color: rgba(255, 255, 255, 0.897);
    transition: 0.4s;
}

li > a:hover{
    color: #733DF0;
    font-size:22px;
}

.container{
    width: 100%;
    display: grid;
    color: white;
}

.navlinks-right{
    padding: 0 40px 0 0;
    /* align-items: center; */
}

.navbar{
    border-bottom: 1px solid #2B3245;
    display:flex;
    width:100%;
    height: 7vh;
    background-color: #0D1117;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.searchform{
    display: flex;
}

.search{
    font-size: 18px;
    color: #a0a1a7;
}

.ads-filters{
    display: grid;
}

.filter-btns{
    height: 12vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 20px;
    /* border: 1px solid white; */
}

.adimg-div{
    position: relative; /* Required for absolute positioning */
    width: 100%; /* Set width to 100% to fill the parent container */
    height: 100%; /* Set height to 100% to fill the parent container */
    overflow: hidden; /* Ensure the image is clipped to the container */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.877); /* Background color */
    border-radius: 0px 8px 8px 0px; /* Border radius */
    
}

#ad-img{
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Move image 50% from top */
    left: 50%; /* Move image 50% from left */
    transform: translate(-50%, -50%);
    width: auto; /* Allow the width to adjust based on its content */
    height: auto; /* Allow the height to adjust based on its content */
    max-width: 50%; /* Ensure the image doesn't exceed the container's width */
    max-height: 50%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ad-box{
    /* border: 1px solid white; */
    display: flex;
    padding-left:20px;
    gap: 35px;
    row-gap: 20px;
    flex-flow: row wrap;
}

.ad-cards{
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    max-width: 600px;
    width: fit-content;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background: #0D1117;
    text-indent: 8px;
    transition: 0.6s;
}

.ad-cards:hover{
    transform:translate(5px, -5px);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}


.sort-by{
    background: rgb(26, 31, 37);
    border-radius: 6px;
    border: 2px solid #202124;
    font-size: 18px;
    padding: 5px 14px 5px 14px;
    color: rgba(255, 255, 255, 0.70);
    transition:0.2s;
}

.content{
    padding: 16px;
}

.sort-by:hover{
    cursor:pointer;
}

.ads{
    padding-top: 6vh;
    display: grid;
    width: 100%;
    grid-template-rows: 0.5fr 2fr;
    /* border: 1px solid white; */
}

.desc-date > h3, p{
    color: white;
    margin: 0;
    margin-bottom: 10px;;
}

.bookmark{
    color: #2A282F;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.23s;
}

.bookmark:hover{
    color: white;
}

#title{
    color: #fff;
    margin-top:20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#desc{
    color: rgba(255, 255, 255, 0.50);
    width: 100%; /* Ensure full width */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;

}
#company{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

#price{
    color: #1A7229;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#searchbar:focus{
    outline: none;
}

#searchbar{
    width:15vw;
    height: 4vh;
    border-radius: 7px 0px 0px 7px;
    border: none;
    text-indent: 20px;
    font-size: 0.833vw;
    color: #b3b3b3;
    background-color: #202124;
    transition: 3s;
}

#searchbtn:hover{
    cursor:pointer;
}

#searchbtn{
    width: 42px;
    border-radius: 0px 7px 7px 0px;
    background: #424347;
    border: none;
}

.price-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    padding: 0;
    padding-right: 10px;
    height: 4vh;
}


.profilepic > span{
    padding: 3px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.70);
}

.clock{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.50);;
}

.profilepic{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 28px;
    font-style: normal;
    /* border: 1px solid white; */
    padding-right:12px;
    color: white;
}
