:root {
    --color: #733DF0;
    --star-color: #696464;
    --star-background: rgb(201, 186, 57);
}

body, html{
    margin:0;
    padding:0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #0A0D12;
}

a{
    /* color: whitefffe5; */
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

.navlinks-left, .navlinks-right {
    display:flex;
    gap: 2.083vw;
    height: min-content;
    /* border: 1px solid white; */
    align-items: center;
    list-style: none;
    
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 300;
}

.navlinks-left li > a, .navlinks-right li > a {
    color: rgba(255, 255, 255, 0.897);
    transition: 0.4s;
}

.navlinks-left a {
    color: rgba(255, 255, 255, 0.897);
    transition: 0.4s;
}

.navlinks-left li > a:hover, .navlinks-right li > a:hover {
    color: var(--color);
}

.container{
    width: 100%;
    display: grid;
    color: white;
}

.navlinks-right{
    padding: 0 2.083vw 0 0;
    /* align-items: center; */
}
.navlinks-left{
    padding: 0 0 0 2.083vw;
    /* align-items: center; */
}

.navbar{
    border-bottom: 1px solid #2B3245;
    display:flex;
    width:100%;
    height: 7vh;
    background-color: #0D1117;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.2s;
    z-index: 100;
}

.searchform{
    display: flex;
}

.search{
    font-size: 0.938vw;
    color: #a0a1a7;
}

.ads-filters{
    display: grid;
    /* border: 1px solid white; */
    z-index: 0;
}

.filter-btns{
    margin-bottom: 0.833vw;
    height: 12vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 1.45vw;
    transition:0.6s;
    /* border: 1px solid white; */
}

.adimg-div{
    width: 100%; /* Set width to 100% to fill the parent container */
    height: 100%; /* Set height to 100% to fill the parent container */
    overflow: hidden; /* Ensure the image is clipped to the container */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.877); /* Background color */
    border-radius: 0px 0.417vw 0.417vw 0px; /* Border radius */
}

#ad-img{
    width: auto; /* Allow the width to adjust based on its content */
    height: auto; /* Allow the height to adjust based on its content */
    max-width: 50%; 
    max-height: 50%;
    border-radius: 0.313vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 1.563vw, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 10.156vw, rgba(0, 0, 0, 0.09) 0px -0.156vw 5px;
}

.ad-box{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left:1.45vw;
    padding-bottom: 1.042vw;
    row-gap: 1.042vh;
}

.ad-cards{
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    min-width: 31.25vw;
    max-width: 31.25vw;
    width: fit-content;
    margin-top: 1.042vh;
    border-radius: 0.417vw;
    border: none;
    background: #0D1117;
    transition: 0.6s;
}

.ad-cards:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}


.sort-by{
    background: rgb(26, 31, 37);
    border-radius: 0.313vw;
    border: 0.104vw solid #202124;
    font-size: 0.938vw;
    padding: 0.26vw 0.729vw 0.26vw 0.729vw;
    color: rgba(255, 255, 255, 0.70);
    transition:0.2s;
}

.content{
    padding: 1.033vw;
}

.sort-by:hover{
    cursor:pointer;
}

.ads{
    padding-top: 6vh;
    display: grid;
    width: 100%;
    grid-template-rows: 0fr 2fr;
    /* border: 1px solid white; */
}

.desc-date h3{
    color: white;
    margin: 0;
    margin-bottom: 0.521vw;
}

.desc-date p{
    color: white;
    margin: 0;
    margin-bottom: 0.521vw;
}

.bookmark{
    color: #2A282F;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.23s;
}

.bookmark:hover{
    color: white;
}

#title{
    color: #fff;
    margin-top:1.042vw;
    font-size: 0.933vw;
    font-style: normal;
    font-weight: 300;
}

#desc{
    color: rgba(255, 255, 255, 0.50);
    width: 100%; /* Ensure full width */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 300;

}
#company{
    color: #FFF;
    font-size: 0.838vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

#price{
    color: #1A7229;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#searchbar:focus{
    outline: none;
}

#searchbar{
    width:15vw;
    height: 4vh;
    border-radius: 0.365vw 0px 0px 0.365vw;
    border: none;
    text-indent: 1.042vw;
    font-size: 0.833vw;
    color: #b3b3b3;
    background-color: #202124;
}

#searchbtn:hover{
    cursor:pointer;
}

#searchbtn{
    width: 2.188vw;
    border-radius: 0px 0.365vw 0.365vw 0px;
    background: #424347;
    border: none;
}

.price-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    padding: 0;
    padding-right: 0.521vw;
    height: 4vh;
}


.profilepic > span{
    padding: 0.156vw;
    font-size: 0.938vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.70);
}

.clock{
    font-size: 0.729vw;
    font-style: normal;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.50);;
}

.profilepic{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 1.458vw;
    font-style: normal;
    /* border: 1px solid white; */
    padding-right:0.625vw;
    color: white;
}

/* ----------------------------- Companies discover page ----------------------------- */

.indi-ad-box{
    margin: 0 0 1.042vw 1.45vw;
    /* border: 1px solid white; */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.663vw;
    flex-flow: row wrap;
}

.indi-ad-card{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-flow: column;
    transition: 0.3s;
}

.indi-ad-card:hover{
    transform: translateY(-0.156vw);
}

.title-desc-date  *{
    margin:0;
    margin-bottom: 0.521vw;
}

.indi-content{
    box-sizing: border-box;
    border-radius: 0px 0px 0.417vw 0.417vw;
    display: flex;
    padding: 0.938vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.729vw;
    width: 21.875vw;
    background: #0D1117;
    margin-top: -0.26vw;
}

.indi-name span{
    margin-left:0.26vw;
}

.indi-name{
    color: #8E8D91;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 400;
}

.profile-rating{
    display:flex;
    align-items:center;
    gap:6.979vw;
}

.indi-adimg {
    position: relative;
    width: 21.875vw;
    height: 17.708vw;
    border-radius: 0.417vw 0.417vw 0px 0px;
    overflow: hidden; /* Ensure the blurred background doesn't overflow */
}

#indiad-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: block;
    border-radius: 0.417vw;
    z-index: 1;
}

.blurry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/vscode.png');
    background-size: cover;
    filter: blur(0.521vw); 
    z-index: 0;
    border-radius: 0.417vw;
}

#indi-desc{
    font-size: 0.833vw;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
}

#indi-date{
    font-size: 0.833vw;
    font-weight: 400;
    color: #625F68;
}

#indi-title{
    color: #fff;
    font-style: normal;
    margin: 0;
    margin-bottom: 0.26vw;
    font-size: 1.146vw;
    font-weight: 500;
}

.fadeinanimation{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}  
  
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.833vw;
    line-height: 1;
    gap: 0.365vw;
}

.Stars::before {
    content: '★★★★★';
    letter-spacing: 0.029vw;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Stars span {
    color: #625F68;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile-picture{
    font-size: 2vw !important;
    cursor: pointer;
}

.acc-info-drop-down{
    position: relative;
}

.tilted-container{
    display: none;
    position: absolute;

    left: 0.44vw;
    top: 3.38vw;

    height: 0%;
    background-color: #0F0F0F;
    transform: rotate(45deg);

    border-top: 1px solid #2B3245;
    border-left: 1px solid #2B3245;
    z-index: 101;
}

.tilted-container.active{
    width: 1vw;
    height: 1vw;
}

.dropdown{
    position: absolute;

    left: -15.77vw;
    top: 3.9vw;

    display: none;
    flex-direction: column;
    align-items: center;

    /* padding-top: 1vw; */

    height: 0%;
    width: 22vw;
    background-color: #0F0F0F;
    border-radius: 0.5vw;
    border: 1px solid #2B3245;
    opacity: 0;

    transition: opacity 0.15s ease-in-out;
}

.dropdown.active{
    opacity: 1;
    width: 19vw;
    height: 27vw;
}

.dropdown .acc-dropdown-display{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

    margin-bottom: 2vw;
}

.acc-dropdown-display .profile-picture{
    font-size: 5.6vw !important;
    margin-bottom: -0.7vw;
}

.first-and-last-name{
    font-size: 1.35vw;
    color: #FFFFFF;
}

.user-name{
    color:rgba(255, 255, 255, 0.6);
    font-size: 0.85vw;
}

.account-dropdown-options{
    margin-bottom: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.acc-dropdown-button{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-dropdown-button span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 0.8vw;

    top: 0.63vw;
    left: 2.65vw;

    pointer-events: none;
}

.acc-dropdown-button i{
    position: absolute;
    top: 0.5vw;
    left: 0.92vw;
    font-size: 1vw;
    color: white;

    pointer-events: none;
}

.acc-dropdown-button button{
    margin: 0.1vw 0;
    height: 2.26vw;
    width: 96%;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.acc-dropdown-button button:hover{
    transition: 0.2s;
    background-color: #5823d3;
}

.log-out{
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.log-out button{
    margin: 0.1vw 0 0 0.285vw;
    height: 2.26vw;
    width: 6.1vw;

    background-color: #0F0F0F;
    color: #FFFFFF;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    text-align: left;

    transition: background-color 0.2s;

    border-radius: 4px;
}

.log-out button:hover{
    transition: 0.2s;
    background-color: #2a2a2a;
}

.log-out i{
    position: absolute;
    top: 0.5vw;
    left: 0.92vw;
    font-size: 1vw;
    color: white;
    pointer-events: none;
}

.log-out span{
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 0.8vw;

    top: 0.63vw;
    left: 2.65vw;

    pointer-events: none;
}

.acc-options-all{
    display: flex;
    flex-direction: column;
    width: 100%;
}