.profile-container{
    display: flex;
    flex-direction: column;
    padding: 1.014vw 1.486vw 1.014vw 1.486vw;
}

.profile-heading{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    color: white;
    margin-bottom: 1.014vw;
    padding-left: 0.4vw;
}

.profile-heading .heading{
    font-size: 1.3vw;
}

.profile-heading .subheading{
    font-size: 0.8vw;
    color: #ffffffab;
}

.profile-btn button{
    background-color: #5823d3;
}

.profile-content{
    display: grid;
    grid-template-rows: 4fr 1fr;

    background-color: #0A0D12;
    padding: 1.014vw 1.689vw;

    border-radius: 1.4vw;
}

.acc-details{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.general-info{
    justify-items: left;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 29.797vw;
    margin: 0 1.014vw 0 0;
}

.general-info::-webkit-scrollbar{
    width: 0.85vw;
    background-color: #ffffff00;
    border-bottom-right-radius: 0.4vw;
    cursor: default;
}

.general-info::-webkit-scrollbar-thumb {
    background-color: #32435b;
    border-radius: 0.23vw;
    cursor: default;
}
  
.general-info::-webkit-scrollbar-thumb:hover {
    background-color: #455a76 !important;
}

.general-info::-webkit-scrollbar-thumb:active {
    background-color: #32435b !important;
}

.name{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: left;
    margin: -0.676vw 0 0 1.351vw;
    min-height: 8.703vw;
}

.name .profile-pic{
    color: white !important;
    font-size: 6vw;
}

.name div{
    margin: 0.676vw 0 0 1.014vw;
    display: flex;
    flex-direction: column;
}

.full-name{
    font-size: 1.88vw;
    color: #FFFFFF;
    margin-bottom: -0.338vw;
}

.contact-and-portfolio{
    background-color: #0C111A;
    width: 16.892vw;
    height: 27.027vw;
    
    margin: 0.676vw 0 0 0 ;
    
    border-radius: 1vw;
    border: 1px solid #11161F;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    color: #FFFFFF;
    padding: 1.014vw;
}

.contact-and-portfolio div{
    display: flex;
    flex-direction: column;

    padding: 1.014vw;
}

.contact-and-portfolio span{
    font-weight: 300;
    font-size: 1vw;
}

.contact-and-portfolio .info{
    font-size: 0.78vw;
    font-weight: 150;
    color: rgba(255, 255, 255, 0.877);
    text-wrap: wrap;
}

/* .contact-and-portfolio div:not(:last-child){
    margin-bottom: -100px;
} */

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    font-size: 1.713vw;
    line-height: 1;
    gap: 0.365vw;
    margin-bottom: 1.014vw;
}

.Stars::before {
    content: '★★★★★';
    letter-spacing: 0.029vw;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Stars span {
    color: #625F68;
}

.expertise-and-about{
    color: white;
}

.expertise-and-about ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: -0.676vw;
    margin-bottom: 1.351vw;
    padding: 0.068vw 2.365vw;

    line-height: 0%;

    list-style-type: none;
    color: white;
}

.expertise-and-about li{
    position: relative;
    font-weight: 200;
    font-size: 0.95vw;
}

.expertise-and-about li:not(:last-child){
    margin-bottom: -0.608vw;
}

.expertise-and-about li::after{
    position: absolute;

    left: -0.878vw;
    content: '•';
    color: white;

    font-size: 0.8vw;
}

.expertise-and-about span{
    font-size: 1.2vw;
    font-weight: 334;
}

.expertise-and-about p{
    text-wrap: wrap;
    margin: 0.338vw 0.676vw 0.676vw 0;

    font-weight: 200;
    font-size: 0.95vw;
}

.contracts-and-reviews{
    display: grid;
    grid-template-columns: 1fr 5fr;
}