/* Styles below are for login.html */
:root{
    --color:#733DF0c1;
    --alt-color:#0276FAc1;
    --hover-color: #7e47ffc1;
    --hover-alt: #2880edc1;
}


.indsignin{
    display: flex;
    background-color: #0D1117;
    width: 22vw;
    height: 35vw;
    justify-self: center;
    align-self: center;

    justify-content: space-around;
    align-items: center;
    
    flex-direction: column;
    padding: 1.563vw;
}

.contentlogin{
    color: rgb(255, 255, 255);
    display: grid;
}

.logincard{
    display: flex;
    background-color: #0F0F0F;
    height: 53vh;
    width: 23.5vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.302vw;
}

.signinhead{
    font-size: 2.083vw;
    color: #ffffffe0;
}

.othersigninoptions, .signinform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or{
    width: 100%;
    position: relative;
    font-weight: 150;
}

.or span{
    color: white;
    display: block;
    width: max-content;
    margin: 0 auto;
    position: relative;
    z-index: 2;  /* To ensure the text appears above lines */
}

.line {
    position: absolute;
    top: 16%;
    width: 45%;
    z-index: 1;
}

.line:first-of-type {
    left: 0;
}
  
.line:last-of-type {
    right: 0;
}

.loginswitchbtn{
    position: relative;
    width: 15.4vw;
    color: #ffffffc1;
    height: 2.7vw;
    color: rgb(250,251,255);
    background-color: var(--alt-color);
    border: none;
    border-radius: 0.365vw;
    cursor:pointer;
    box-shadow: 0.052vw 0.208vw 0.208vw 0.052vw rgba(0, 0, 0, 0.25)
}

.loginswitchbtn span {
    position: absolute;
    top: 53%;
    left: 50%;
    
    font-weight: 500;
    font-size: 1vw !important;

    transform: translate(-50%, -50%);
    color: #fff;
    width: 17vw;
}

.loginswitchbtn:hover{
    background-color: var(--hover-color);
    color: rgb(250,251,255);
}

.loginswitchbtn:active{
    background-color: var(--alt-color);
    color: rgb(235, 235, 235);
}

.loginbtn{
    width: 18.59vw;
    font-size: 1.142vw;
    color: #ffffffc1;
    height: 5.5vh;
    color: rgb(250,251,255);
    background-color: var(--color);
    border: none;
    border-radius: 0.365vw;
    margin-top: 0.4vw;
    cursor:pointer;

    box-shadow: 0.052vw 0.208vw 0.208vw 0.052vw rgba(0, 0, 0, 0.25);
    text-align: center;
}

.loginbtn:hover{
    background-color: var(--hover-alt);
    color: rgb(250,251,255);
}

.loginbtn:active{
    background-color: var(--color);
    color: rgb(248, 248, 248);
}

.signinfield {
    font-size: 0.938vw;

    width: 18.59vw;
    height: 5.5vh;
    padding: 0 0.833vw;
    padding-left: 3.15vw;
    border-radius: 0.313vw;
    
    border: none;
    outline: none;
    background-color: #202124;
    color: #ffffffc1;
    box-shadow: 0.052vw 0.208vw 0.208vw 0.052vw rgba(0, 0, 0, 0.25) inset;
    box-sizing: border-box;
}

.othersigninoptions{
    font-size: 0.729vw;
    color: #ffffffc1;
}

.othersigninoptions a{
    color: var(--color);
    text-decoration: none;
}

.inpfields i{
    position: absolute;
    color: rgba(255, 255, 255, 0.614);
    font-size: 1.45vw;
}

.envelope{
    left: 0.9vw;
    top: 0.57vh;
}

.lock{
    left: 0.9vw;
    top: 0.52vh;
}

.person{
    left: 0.9vw;
    top: 0.57vh;
}

.inpfields{
    position: relative;
    margin: -0.27vw 0;
}

.container{
    gap: 0%
}

.iti__country-list {
    background-color: #000000; /* Your custom background color */
    color: #ffffffda;
}

/* Displaying error messages */

.has-error{
    border: 1px solid rgb(255, 55, 0) !important;
}

.error-msg{
    position: absolute;
    top: 2.14vw;
    left: 0.65vw;
    color: rgb(255, 55, 0);

    font-size: 0.63vw;
    font-weight: 300;
}
