:root{
    --color:#733DF0;
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #0D1117;
    font-family: "Noto Sans JP", sans-serif;
}

li{
    list-style: none;
}

span{
    color: var(--color);
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

.fadeinanimation{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.content{
    color: white;
    display: grid;
    grid-template-rows: 15% 50% 15%;
    gap: 10%;
}

.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 6%;
}

.img{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items at the start of the container */
    align-items: flex-start; /* Align items at the start of the container */
    width: fit-content;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.img > img{
    width:50vw;
    height:100vh;
    object-fit: cover;
}

.explore{
    display: flex;
    flex-direction: column;
    font-size: 1.458vw;
}

.navlinks{
    display: flex;
    gap: 30px;
    font-size: 0.938vw;
    cursor: pointer;
}

.navitem{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navitem:hover{
    color: var(--color);
}


.compsvg {
    display: flex;
    gap:30%;
}

.compimg {
    width:1.563vw;
    height:30px;
}

.searchform {
    display:flex;
    gap: 12px;
}

.socials {
    display:flex;
    gap: 30px;
    height: fit-content;
    gap: 4%;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    gap: 10px;
}

.btns{
    background: transparent;
    border: none;
    padding: 8px 30px;
    color: white;
    font-size: 0.938vw;
    cursor:pointer;
    transition: 0.2s;
}

#maintext{
    font-size: 3.167vw;
    /* border: 2.5px solid black; */
}

#sub1{
    margin-bottom: -3.8vh;
    margin-left: 4px;
}

#sub2 {
    margin-top: -3.8vh;
    margin-bottom:5vh;
    margin-left: 0.208vw;
    font-size: 1.146vw;
    font-weight: 150;
}

#logo{
    position: absolute;
    top: 0%;
    left: 4%;
    color: #d8dbe0;
    font-size: 2.833vw;
    font-weight: 130;
    opacity: 90%;
}

#social {
    font-size: 1.042vw;
    margin-top:0;
    border:none;
}

#searchbar {
    border-radius: 7px;
    height:5vh;
    border: none;
    width:21.5vw;
    text-indent: 20px;
    font-size: 0.833vw;
    color: white;
    background-color: #202124;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#searchbar:focus{
    outline: none;
}

#expbtn {
    width:15%;
    font-size: 1.042vw;
    color: rgb(250,251,255);
    background-color: var(--color);
    border: var(--color);
    border-radius: 7px;
    cursor:pointer;
}

#btn2{
    border: 2px solid white;
    border-radius: 10px;
}

#btn1:hover{
    color: var(--color);
}

#btn2:hover{
    background-color: var(--color);
    color: rgb(250,251,255);
    border: 2px solid var(--color);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}