{% extends "layout1.html" %}


{% block css_file %}
    <link rel="stylesheet" href="static/css/styles.css" id="css_file">
{% endblock %}

{% block image %}
    <img src="static/images/homepage1.jpg">
{% endblock %}

{% block navbar %}
    <div class="navlinks">
        <a class="navitem" href="{{url_for('discover.main')}}">Find Contracts</a>
        <a class="navitem" id="forCompanies" href="{{url_for('homecomp')}}">For Companies</a>
    </div> 
    <div class="buttons">
        <button id="btn1" class="btns noto-sans">Sign in</button>
        <button id="btn2" class="btns noto-sans">Sign up</button>
    </div>
{% endblock %}

{% block mainexp %}
    <p id="sub1">Improve your portfolio</p>
    <h1 id="maintext">Find Coding Contracts <br>The <span style="color:rgb(115, 61, 240)">Easy Way</span><br></h1>
    <p id="sub2">Best place to discover and work on contracts as a programmer</p>
    <form class="searchform">
        <input id="searchbar" type="text", placeholder="Search contracts">
        <button id="expbtn" type="submit">Explore</button>
    </form>
{% endblock %}

{% block socials %}
<li><P id="social">Social Media:</P></li>
<div class="compsvg">
    <li><a href="https://www.instagram.com"><img class="compimg" src="static/icons/instagram.svg"></a></li>
    <li><a href="https://www.twitter.com"><img class="compimg" src="static/icons/twitter-x.svg"></a></li>
    <li><a href="https://www.reddit.com"><img class="compimg" src="static/icons/reddit.svg"></a></li>
    <li><a href="https://www.discord.com"><img class="compimg" src="static/icons/discord.svg"></a></li>
    <li><a href="https://www.github.com"><img class="compimg" src="static/icons/github.svg"></a></li> 
</div>
{% endblock %}