{% extends "layoutdiscover.html" %}

{% block import_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accountinfo.css') }}">
{% endblock %}

{% if session.get('user_id')[:2] == 'I-' %}
    {% set home_url = 'home' %}
    {% set profile_url = 'accinfo.individual_profile' %}
    {% set settings_url = 'accinfo.individual_settings' %}
    {% set contract_history_url = 'accinfo.contract_history' %}
    {% set wallet_url = 'accinfo.wallet' %}
{% else %}
    {% set home_url = 'homecomp' %}
    {% set profile_url = 'accinfo.org_profile' %}
    {% set settings_url = 'accinfo.org_settings' %}
{% endif %}

{% block maincontent %}
<div class="account-options-card">
    <div class="sidebar">
        <div class="acc-info-display">
            <i class="bi bi-person-circle profile-pic"></i>
            <span class="fst-name-lst-name">{{ user_data["First_name"] }} {{ user_data["Last_name"] }}</span>
            <span class="username">{{ user_data["Display_name"] }}</span>
        </div>
        <div class="account-info-all-options">
            <div class="account-info-options">
                <div class="acc-info-button profile-btn">
                    <button onclick="window.location.href = `{{url_for(profile_url)}}`"></button>
                    <span>Profile</span>
                    <i class="bi bi-person"></i>
                </div>
    
                <div class="acc-info-button acc-org-settings-btn">
                    <button onclick="window.location.href = `{{url_for(org_settings_url)}}`"></button>
                    <span>Account Settings (ORG)</span>
                    <i class="bi bi-gear"></i>
                </div>

                <div class="acc-info-button acc-settings-btn">
                    <button onclick="window.location.href = `{{url_for(settings_url)}}`"></button>
                    <span>Account Settings</span>
                    <i class="bi bi-gear"></i>
                </div>
                
                <div class="acc-info-button contract-creation-btn">
                    <button onclick="window.location.href = `{{url_for(contract_creation_url)}}`"></button>
                    <span>Contract Creation (ORG)</span>
                    <i class="bi bi-gear"></i>
                </div>

                <div class="acc-info-button org-contract-history-btn">
                    <button onclick="window.location.href = `{{url_for(org_contract_history_url)}}`"></button>
                    <span>Contract History (ORG)</span>
                    <i class="bi bi-gear"></i>
                </div>
    
                <div class="acc-info-button contr-hstry-btn">
                    <button onclick="window.location.href = `{{url_for(contract_history_url)}}`"></button>
                    <span>Contract History</span>
                    <i class="bi bi-clock-history"></i>
                </div>
    
                <div class="acc-info-button pay-meth-btn">
                    <button onclick="window.location.href = `{{url_for(wallet_url)}}`"></button>
                    <span>Wallet</span>
                    <span class="wallet-amt">{{ user_data["Wallet"] }}</span>
                    <i class="bi bi-credit-card-2-front"></i>
                </div>
            </div>
            <div class="logout">
                <button onclick="window.location.href = `{{url_for('auth.logout')}}`"></button>
                <span>Sign out</span>
                <i class="bi bi-door-open"></i>
            </div>
        </div>
    </div>

    <div class="acc-info-content">
        {% block acc_info_options_display %}{% endblock %}
    </div>
</div>
{% endblock %}