<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accountnavbar.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/render.js" type="module"></script>
    {% block import_files %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container fadeinanimation">
        <div class="navbar">
            <ul class="navlinks-left">
                {% if session.get('user_id')[:2] == 'I-' %}
                    {% set home_url = 'home' %}
                    {% set dashboard_url = 'dashboard.individuals' %}
                    {% set discover_url = 'discover.individuals' %}
                    {% set acc_info_url = 'accinfo.individual_profile' %}
                {% else %}
                    {% set home_url = 'homecomp' %}
                    {% set dashboard_url = 'dashboard.organization' %}
                    {% set discover_url = 'discover.companies' %}
                    {% set acc_info_url = 'accinfo.org_profile' %}
                {% endif %}
                <li><a href="{{url_for(dashboard_url)}}" class="dashboard-nav-option">Dashboard</a></li>
                <li><a href="{{url_for(discover_url)}}" class="discover-nav-option">Discover</a></li>
                <li><a href="{{url_for(home_url)}} " class="work-nav-option">Work</a></li>
                <li><a href="{{url_for(home_url)}} " class="payments-nav-option">Payments</a></li>
                <li><a href="{{url_for(home_url)}} " class="invites-nav-option">Invites</a></li>
            </ul>
            <ul class="navlinks-right">
                <a href="{{url_for(acc_info_url)}}"><i class="bi bi-person-circle account-info-icon"></i></a>
            </ul>
        </div>


    </div>

    {% block maincontent %}{% endblock %}

</body>
</html>