{% extends "layoutdiscover.html" %}

{% block import_files %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buy_tokens.css') }}">
<script src="/static/js/token.js" type="module"></script>
{% endblock %}

{% block title %}Buy Tokens{% endblock %}

{% block maincontent %}
    <div class="payments">
        <div class="price-description">
            <h2>Application for one contract = 5 tokens</h2>
            <h2>Posting yourself on the website = 120 tokens</h2>
        </div>
        <div class="button-prices">
            <form id="token_form" method="POST" class="price-boxes">
                {{ csrf_token }}
                {{ form.hidden_tag() }}

                <div class="one-price-box">
                    <div class="price-tokens">
                        <h2>$2.99</h2>
                        <h3>10 tokens</h3>
                    </div>
                    <div class="price-text">
                        <p class="level">Starter Pack</p>
                        <p class="price-recommendation">Recommended for beginner contractors on the website</p>
                    </div>
                    <input type="radio" id="beginner" name="token" value="3">
                </div>
                
                <div class="one-price-box">
                    <div class="price-tokens">
                        <h2>$6.99</h2>
                        <h3>55 tokens</h3>
                    </div>
                    <div class="price-text">
                        <p class="level">Intermediate Pack</p>
                        <p class="price-recommendation">Recommended for intermediate contractors on the website</p>
                    </div>
                    <input type="radio" id="intermediate" name="token" value="7">
                </div>
                
                <div class="one-price-box">
                    <div class="price-tokens">
                        <h2>$11.99</h2>
                        <h3>120 tokens</h3>
                    </div>
                    <div class="price-text">
                        <p class="level">Expert pack</p>
                        <p class="price-recommendation">Recommended for skilled experts on the website</p>
                    </div>
                    <input type="radio" id="expert" name="token" value="12">
                </div>
            </form>
            <div class="buybutton">
                <button id="buy" disabled='true' type="button">Buy tokens</button>
            </div>
        </div>
    </div>
{% endblock %}