{% extends "accountinfo.html" %}

{% block import_files %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_contract.css') }}">
<!-- <script src="/static/js/acc_settings.js" type="module"></script> -->
{% endblock %}

{% block title %}Contract Creation{% endblock %}

{% block acc_info_options_display %}
<div class="acc-settings">
    <div class="page-title-brief-desc">
        <h2 id="title">Contract Creation</h2>
        <p id="brief-desc">Create and post contracts here</p>
    </div>
    <div class="acc-settings-all-options">
        <form method="POST" enctype="multipart/form-data">
            <div class="personal-details">
                <div class="left-fields">
                    <div class="personal-fields" id="title-field">
                        <p class="field-label">Title</p>
                        <input class="personal-input-fields" name="first_name" type="text" id="firstname" value='' autocomplete="off">
                    </div>
                    
                    <div class="personal-fields" id="overview-field">
                        <p class="field-label">Contract Overview</p>
                        <textarea class="personal-input-fields" name="bio" id="bio-about" wrap="soft"></textarea>
                    </div>
                    
                    <div class="personal-fields" id="min-price-field">
                        <p class="field-label">Minimum offered price for contract</p>
                        <div class="pay-dollar-sign">
                            <p class="field-label">$</p><input class="personal-input-fields" name="email" type="email" id="email" value='' autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="personal-fields" id="max-price-field">
                        <p class="field-label">Maximum offered price for contract</p>
                        <div class="pay-dollar-sign">
                            <p class="field-label">$</p><input class="personal-input-fields" name="display_name" type="text" id="username" value='' autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="personal-fields" id="duration-field">
                        <p class="field-label">Duration</p>
                        <input class="personal-input-fields" name="dob" id="birth" value='' autocomplete="off">
                    </div>

                    <div class="personal-fields" id="scope-field">
                        <p class="field-label">Scope of work</p>
                        <input class="three-field" name="phone" type="text" id="Phone-number" value='' autocomplete="off">
                        <input class="three-field" name="phone" type="text" id="Phone-number" value='' autocomplete="off">
                        <input class="three-field" name="phone" type="text" id="Phone-number" value='' autocomplete="off">
                    </div>

                </div>
                
                <div class="right-fields">
                    <div class="personal-fields" id="delivarables-field">
                        <p class="field-label">Delivarables</p>
                        <input class="three-field" name="password" type="password" id="password" value="">
                        <input class="three-field" name="password" type="password" id="password" value="">
                        <input class="three-field" name="password" type="password" id="password" value="">
                    </div>

                    <div class="personal-fields" id="technoligical-field">
                        <p class="field-label">Technological Stack</p>
                        <input class="three-field" name="expertise" type="text" id="field-of-profiences" value='' autocomplete="off">
                        <input class="three-field" name="expertise" type="text" id="field-of-profiences" value='' autocomplete="off">
                        <input class="three-field" name="expertise" type="text" id="field-of-profiences" value='' autocomplete="off">
                    </div>
                    
                    <div class="personal-fields" id="additional-field">
                        <p class="field-label">Additional information (Optional)</p>
                        <input class="three-field" name="dob" id="birth" value='' autocomplete="off">
                        <input class="three-field" name="dob" id="birth" value='' autocomplete="off">
                        <input class="three-field" name="dob" id="birth" value='' autocomplete="off">
                    </div>
                </div>

                <div class="save-btn-container">
                    <button class="create-btn" id="create_btn">Create Contract</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}