{% extends "layoutdiscover.html" %}

{% block import_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block maincontent %}
    {% set invites_url = 'dashboard.invites' %}
    <div class="dashboard-content">
        <div class="left-content">
            <div class="table_component" role="region" tabindex="0">
                <table>
                    {% if session.get('user_id')[:2] == 'I-' %}
                        <div id="hire-heading">
                            <p>Company Invites</p>
                            <button class="view-bttn bttn-style">
                                <a class='view-bttn' href="{{url_for(invites_url)}}">View All</a>
                            </button>
                        </div>
                        <thead>
                            <tr class="table-headings">
                                <th id="org-head">Organization</th>
                                <th id="title-head">Contract Title</th>
                                <th id="duration_head">Contract Duration</th>
                                <th id="pay_head">Expected Pay</th>
                            </tr>
                        </thead>
                        <tbody class="hire-details">
                            {% for invites in company_hires %}
                                <tr class="details-hire">
                                    <td>{{invites['organization']}}</td>
                                    <td>{{invites['title']}}</td>
                                    <td>{{invites['duration']}}</td>
                                    <td>${{invites['expected_pay'][0]}} - ${{invites['expected_pay'][1]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <div id="hire-heading">
                            <p>Applicants List</p>
                        </div>
                        <thead>
                            <tr class="table-headings">
                                <th id="org-head">Applicant</th>
                                <th id="title-head">Contract Title</th>
                                <th id="duration_head">Suggested Pay</th>
                                <th id="pay_head"></th>
                            </tr>
                        </thead>
                        <tbody class="hire-details" style="max-height: 77vh;">
                            {% for applicant in applicants %}
                                <tr class="details-hire">
                                    <td>{{applicant['applicant']}}</td>
                                    <td>{{applicant['title']}}</td>
                                    <td>{{applicant['suggested_pay']}}</td>
                                    <td>
                                        <div class="applicants-btns-list">
                                            <button class="view-accept-reject-btns" id="view-btn"><span>View</span></button>
                                            <button class="view-accept-reject-btns" id="accept-btn"><span>Accept</span></button>
                                            <button class="view-accept-reject-btns" id="reject-btn"><span>Reject</span></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
                {% if session.get('user_id')[:2] == 'I-' %}
                    <div class="bank-paymethod-details">
                        <h2 class="banking-title">Banking details</h2>
                        <div class="banking-details">
                            <div class="bank-img-text">
                                <i class="bi bi-bank bankimg"></i>
                                <p id="bank-text">No Bank Account/Payment method<br>added in this profile yet</p>
                            </div>
                            <a id="payment-redirect">Add Payment Method</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="right-content">
            <div class="base-summary">
                <div class="summary-boxes">
                    <div class="summary-icons">
                        <i class="bi bi-arrow-left-right"></i>
                    </div>
                    <div class="summary-text">
                        <p id="summary-type">Contracts Completed</p>
                        <h2 id="summary-detail">{{dashcontent['completed_contracts']}}</h2>
                    </div>
                </div>
               
                <div class="summary-boxes">
                    <div class="summary-icons">
                        <i class="bi bi-cash"></i>
                    </div>
                    <div class="summary-text">
                        {% if session.get('user_id')[:2] == 'I-' %}
                            <p id="summary-type">Total Earned</p>
                            <h2 id="summary-detail">${{dashcontent['total_earned']}}</h2>
                        {% else %}
                            <p id="summary-type">Contracts Ongoing</p>
                            <h2 id="summary-detail">{{dashcontent['ongoing_contracts']}}</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="summary-boxes">
                    <div class="summary-icons">
                        <i class="bi bi-coin"></i>
                    </div>
                    <div class="summary-text">
                        <p id="summary-type">Tokens owned</p>
                        <h2 id="summary-detail">{{dashcontent['tokens_owned']}}</h2>
                    </div>
                </div>
            </div>

            <div class="money-chart">
                <h2 id="summary-title">Money Flow</h2>
                <div class="chart">
                    <h2 id="work-inprogress">Not implemented yet<br>work in progress</h2>
                </div>
            </div>

            <div class="payments-summary">
                <div class="title-button">
                    {% if session.get('user_id')[:2] == 'I-' %}
                        <h2 id="summary-title">Recent Payments</h2>
                        <button class="view-bttn bttn-style">
                            <a class='view-bttn' href="{{url_for(payments_url)}}">View All</a>
                        </button>
                    {% else %}
                        <h2 id="summary-title">Recent Payments</h2>
                        <button class="view-bttn bttn-style">
                            <a class='view-bttn' href="{{url_for(payments_url)}}">View All</a>
                        </button>
                    {% endif %}
                </div>

                <div class="payments">
                    {% if session.get('user_id')[:2] == 'I-' %}
                        {% for transaction in recent_payments %}
                            {% if loop.index <= 4 %}
                                <div class="transaction">
                                    <div class="comp-img-name">
                                        <img id='comp-img' src="/static/images/netflix.png">
                                        <h2 class='payment-text' id="comp-name">{{ transaction['company_name'] }}</h2>
                                    </div>
                                    <p class='payment-text status'>{{ transaction['status'] }}</p>
                                    <h2 class='payment-text' id="amount">${{ transaction['amount'] }}</h2>
                                </div>
                            {% endif %}
                        {% endfor %}
                    
                    {% else %}    
                        {% for transaction in recent_payments %}
                            {% if loop.index <= 4 %}
                                <div class="transaction">
                                    <div class="comp-img-name">
                                        <i class="bi bi-person-circle prof-pic"></i>
                                        <h2 class='payment-text' id="comp-name">{{ transaction['contractor_name'] }}</h2>
                                    </div>
                                    <p class='payment-text status'>{{ transaction['status'] }}</p>
                                    <h2 class='payment-text' id="amount">${{ transaction['amount'] }}</h2>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}