{% extends "layout.html" %}

{% block image %}
    <img src="static/images/homepage1.jpg">
{% endblock %}

{% block content %}
    <div class="navbar noto-sans" id="navbar">
        <div class="navlinks">
            <a class="navitem" href="{{url_for('discover.individuals')}}">Find Contracts</a>
            {% if not session.get('user_id') %}
                <a class="navitem" id="forCompanies" href="{{url_for('homecomp')}}">For Companies</a>
            {% endif %}
        </div> 
        <div class="buttons">
            {% if session.get("user_id") %}
                <a href="{{url_for('accinfo.individual_profile')}}"><i class="bi bi-person-circle account-info-icon"></i></a>
            {% else %}
                <button id="btn1" class="btns noto-sans" onclick="window.location.href = `{{url_for('auth.user_login')}}`">Sign in</button>
                <button id="btn2" class="btns noto-sans" onclick="window.location.href = `{{url_for('auth.confirmation')}}`">Sign up</button>
            {% endif %}
        </div>
    </div>

    <div class="explore noto-sans" id="mainexp">
        <p id="sub1">Improve your portfolio</p>
        <h1 id="maintext">Find Coding Contracts <br>The <span>Easy Way</span><br></h1>
        <p id="sub2">Best place to discover and work on contracts as a programmer</p>
        <form class="searchform">
            <input id="searchbar" type="text", placeholder="Search contracts">
            <button id="expbtn" type="submit">Explore</button>
        </form>
    </div>
{% endblock %}
