{% extends "layout.html" %}

{% block image %}
    <img src="static/images/homecomp.jpg">
{% endblock %}

{% block content %}
    <div class="navbar noto-sans" id="navbar">
        <div class="navlinks">
            <a class="navitem" href="{{url_for('discover.main')}}">Find Contractors</a>
            <a class="navitem" id="forIndividuals" href="{{url_for('home')}}">For Individuals</a>
        </div> 
        <div class="buttons">
            <button id="btn1" class="btns noto-sans" onclick="window.location.href = `{{url_for('auth.org_login')}}`">Sign in</button>
            <button id="btn2" class="btns noto-sans">Sign up</button>
        </div>
    </div>
    
    <div class="explore noto-sans" id="mainexp">
        <p class="unselectable" id="sub1">Enhance your company's reputation</p>
        <h1 id="maintext">Boost your bussiness<br>The<span> Efficient way</span><br></h1>
        <p class="unselectable" id="sub2">Optimal platform for finding and collaborating with talented programmers</p>
        <form class="searchform">
            <input id="searchbar" type="text", placeholder="Search contracts">
            <button id="expbtn" type="submit">Explore</button>
        </form>
    </div>
{% endblock %}
    