{% extends 'layoutdiscover.html' %}

{% block alt_discover %}<li><a href="{{url_for('discover.companies')}}">Discover as company</a></li>{% endblock %}

{% block maincontent %}
    <div class="ad-box">
        {% for contract_data in contract_list.values() %}
            <a href="{{ url_for('discover.contract', contract_id = contract_data['Company']) }}">
                <div class="ad-cards">
                    <div class="content">
                        <div class="desc-date">
                            <div class="price-profile">
                                <h3 id="company">{{ contract_data["Company Name"] }}</h3>
                                <i class="clock">Posted on {{ contract_data["Date Posted"] }}</i> 
                            </div>
                            <h3 id="title">{{ contract_data["Title"] }}</h3>
                            <p id="desc">{{ contract_data["Description"] }}</p>
                        </div>
                        <div class="price-profile">
                            <h1 id="price"> $<span>{{ contract_data["Min Price"] }} - ${{ contract_data["Max Price"] }}</span></h2>
                            <i class="bi bi-bookmark bookmark"></i> 
                        </div>
                    </div>
                    <div class="adimg-div">
                        <img id="ad-img" src= "{{ contract_data['Contract Image'] }}">
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}