{% extends "accountinfo.html" %}

{% block import_files %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acc_settings.css') }}">
{% endblock %}

{% block title %}Account Info{% endblock %}

{% block acc_info_options_display %}
<div class="acc-settings">
    <div class="page-title-brief-desc">
        <h2 id="title">Account Settings</h2>
        <p id="brief-desc">Update your profile picture and personal details here</p>
    </div>
    <div class="acc-settings-all-options">
        <div class="update-profile-pic">
            <i class="bi bi-person-circle prof-pic"></i>
            <button class="add-or-update-bttn">
                <a id="update-bttn-text">Add new profile pic</a>
            </button>
        </div>
        <div class="personal-details">
            <div class="left-fields">
                <div class="personal-fields" id="firstname-field">
                    <p class="field-label">First Name</p>
                    <textarea class="personal-input-fields" name="first-name" type="text" id="firstname">{{details[0]['firstname']}}</textarea>
                </div>
                <div class="personal-fields" id="lastname-field">
                    <p class="field-label">Last Name</p>
                    <textarea class="personal-input-fields" name="first-name" type="text" id="lastname">{{details[0]['lastname']}}</textarea>
                </div>
                <div class="personal-fields" id="email-field">
                    <p class="field-label">Email</p>
                    <textarea disabled class="personal-input-fields" name="first-name" type="email" id="email">{{details[0]['email']}}</textarea>
                </div>
                <div class="personal-fields" id="username-field">
                    <p class="field-label">Username</p>
                    <div class="username-atsign">
                        <p class="field-label">@</p><textarea class="personal-input-fields" name="first-name" type="text" id="username">{{details[0]['username']}}</textarea>
                    </div>
                </div>
                <div class="personal-fields" id="phone-field">
                    <p class="field-label">Phone number</p>
                    <textarea class="personal-input-fields" name="first-name" type="text" id="Phone-number">{{details[0]['phone']}}</textarea>
                </div>
                <div class="personal-fields" id="profiences-field">
                    <p class="field-label">Field of profiences</p>
                    <textarea class="personal-input-fields" name="first-name" type="text" id="field-of-profiences">{{details[0]['profiencies']}}</textarea>
                </div>
                <div class="personal-fields" id="password-field">
                    <p class="field-label">Password</p>
                    <input class="personal-input-fields" name="first-name" type="password" id="password" value="{{details[0]['password']}}">
                </div>
            </div>
            <div class="right-fields">
                <div class="personal-fields" id="birth-field">
                    <p class="field-label">Date of Birth</p>
                    <textarea class="personal-input-fields" name="first-name" id="birth">{{details[0]['birth']}}</textarea>
                </div>
                
                <div class="personal-fields" id="gender-field">
                    <p class="field-label">Gender</p>
                    <textarea class="personal-input-fields" name="first-name" id="Gender">{{details[0]['gender']}}</textarea>
                </div>
                
                <div class="personal-fields" id="bio-field">
                    <p class="field-label">Bio / About me</p>
                    <textarea class="personal-input-fields" name="first-name" id="bio-about" wrap="soft">{{details[0]['bio']}}</textarea>
                </div>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}