<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discover.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/render.js" type="module"></script>
    {% block import_files %}{% endblock %}
    <title>Discover</title>
</head>
<body>
    <div class="container fadeinanimation">
        <div class="navbar">
            <ul class="navlinks-left">
                <li><a href="{{url_for('home')}}">Home</a></li>
                {% block alt_discover %}{% endblock %}
            </ul>
            <ul class="navlinks-right">
                <li>
                    <form class="searchform">
                        <input id="searchbar" type="text", placeholder="Search contracts">
                        <button id="searchbtn" type="submit"><i class="bi bi-search search"></i></button>
                    </form>
                </li>
                <li><a href="{{url_for('auth.user_login')}}">Sign In</a></li>
                <li><a href="{{url_for('auth.user_register')}}">Sign Up</a></li>
            </ul>
        </div>

        {% block maincontent %}{% endblock %}
    </div>
</body>
</html>