{% extends 'layout.html' %}

{% block css_file %}
    <link rel="stylesheet" href="static/css/loginstyles.css">
{% endblock %}

{% block image %}
    <img src="static/images/homepage1.jpg">
{% endblock %}

{% block maincontent %}

    <div class="contentlogin">

        <!-- individuals -->
        <div class="indsignin">
            <div class="logincard">

                <p class="signinhead">Sign in</p>

                <form class="signinform" autocomplete="off" method="post">
                    {{ csrf_token }}
                    {{ form.hidden_tag() }}
                    
                    <input class="signinfield" name="username_or_email" type="text" id="username" placeholder="Username / Email">
                    <br>

                    <input class="signinfield" name="password" type="password" id="password" placeholder="Password">
                    <br>
                    
                    <button class="loginbtn" type="submit">Log in</button>
                </form>

                <div class="othersigninoptions">
                    <a class="forgorpass" href="">Forgot Password?</a>
                    <p>Don't have an account? <a href="">Sign Up</a></p>
                </div>
                
            </div>

            <div class="or">
                <span>Or</span>
                <hr class="line">
                <hr class="line">
            </div>
            
            <button class="loginswitchbtn" onclick="window.location.href = `{{url_for('auth.org_login')}}`">Sign in as a company</button>
        </div>
        

    </div>
{% endblock %}