{% extends 'layout.html' %}

{% block css_file %}
    <link rel="stylesheet" href="static/css/signin.css">
{% endblock %}

{% block image %}
    <img src="static/images/homecomp.jpg">
{% endblock %}

{% block maincontent %}

    <div class="contentlogin">

        <!-- individuals -->
        <div class="indsignin">
            <div class="logincard">

                <p class="signinhead">Sign in</p>

                <form class="signinform" autocomplete="off" method="post">
                    {{ csrf_token }}
                    {{ form.hidden_tag() }}
                    

                    <div class="inpfields {% if form.email.errors %}has-error{% endif %}">
                        <input class="signinfield" name="email" type="text" id="username" placeholder="Email">
                        <i class="bi bi-envelope envelope"></i>

                        {% if form.email.errors %}
                            {% set error_message = form.email.errors[0] %}
                            {% if error_message.endswith('.') %}
                                {% set error_message = error_message[:-1] %}
                            {% endif %}
                            <p class="error-msg">{{ error_message }}</p>
                        {% endif %}
                    </div>

                    <br>

                    <div class="inpfields {% if form.password.errors %}has-error{% endif %}">
                        <input class="signinfield" name="password" type="password" id="password" placeholder="Password">
                        <i class="bi bi-lock lock"></i>

                        {% if form.password.errors %}
                            {% set error_message = form.password.errors[0] %}
                            {% if error_message.endswith('.') %}
                                {% set error_message = error_message[:-1] %}
                            {% endif %}
                            <p class="error-msg">{{ error_message }}</p>
                        {% endif %}
                    </div>

                    <br>
                    
                    <button class="loginbtn" type="submit">Log in</button>
                </form>

                <div class="othersigninoptions">
                    <a href="">Forgot Password?</a>
                    <p>Don't have an account? <a href="{{ url_for('auth.org_register') }}">Sign Up</a></p>
                </div>
                
            </div>

            <div class="or">
                <span>Or</span>
                <hr class="line">
                <hr class="line">
            </div>
            <button class="loginswitchbtn" onclick="window.location.href = `{{url_for('auth.user_login')}}`">Sign in as a individual</button>
        </div>
        

    </div>
{% endblock %}