{% extends 'layoutdiscover.html' %}
{% block import_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discover.css') }}">
{% endblock %}


{% block alt_discover %}<li><a href="{{url_for('discover.individuals')}}">Discover as an individual</a></li>{% endblock %}

{% block maincontent %}

    <div class="ads-filters">
        <div class="ads fadeinanimationcontent">
            <div class="filter-btns">
                <button class="sort-by">
                    <span>Filter</span>
                    <i class="bi bi-funnel sort-btn"></i>
                </button> 
            </div>
            
            <div class="indi-ad-box">
                <a href="/org/view_profile">
                    <div class="indi-ad-card">
                        <div class="indi-adimg">
                            <div class="blurry-background" style="background-image: url('https://static01.nyt.com/images/2018/03/30/business/30STEWART/merlin_124777511_335f4d4f-d886-4380-bc13-a607f18c69b0-superJumbo.jpg');"></div>
                            <img id="indiad-img" src="https://static01.nyt.com/images/2018/03/30/business/30STEWART/merlin_124777511_335f4d4f-d886-4380-bc13-a607f18c69b0-superJumbo.jpg">
                        </div>
                        <div class="indi-content">
                            <div class="title-desc-date">
                                <h2 id="indi-title">Mark Zingerberg</h2>
                                <p id="indi-desc">Seeking a skilled designer and developer to create a portfolio website using React. The website should showcase projects, skills, and contact information.</p>
                                <p id="indi-date">Posted on 2024-03-30</p>
                            </div>
                            <div class="profile-rating">
                                <i class="bi bi-person-circle indi-name"> <span>markZoing534</span></i>
                                <div class="Stars" data-rating="4.3" style="--rating: 4.3;">
                                    <span>4.3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="/org/view_profile">
                    <div class="indi-ad-card">
                        <div class="indi-adimg">
                            <div class="blurry-background" style="background-image: url('https://devostock.com/static12/preview2/stock-photo-devostock-human-face-man-person-4k-175245.jpg');"></div>
                            <img src="https://devostock.com/static12/preview2/stock-photo-devostock-human-face-man-person-4k-175245.jpg" id="indiad-img">
                        </div>
                        <div class="indi-content">
                            <div class="title-desc-date">
                                <h2 id="indi-title">Liam Johnson</h2>
                                <p id="indi-desc">Seeking a talented designer and developer to build an e-commerce platform with React. The platform should include features such as product listings, shopping cart, and checkout functionality.</p>
                                <p id="indi-date">Posted on 2024-03-15</p>
                            </div>
                            <div class="profile-rating">
                                <i class="bi bi-person-circle indi-name"> <span>liamJ5454</span></i>
                                <div class="Stars" data-rating="3.2" style="--rating: 3.2;">
                                    <span>3.2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="/org/view_profile">
                    <div class="indi-ad-card">
                        <div class="indi-adimg">
                            <div class="blurry-background" style="background-image: url('https://cdn.pixabay.com/photo/2016/12/09/09/52/girl-1894125_640.jpg');"></div>
                            <img id="indiad-img" src="https://cdn.pixabay.com/photo/2016/12/09/09/52/girl-1894125_640.jpg">
                        </div>
                        <div class="indi-content">
                            <div class="title-desc-date">
                                <h2 id="indi-title">Sophia Lee</h2>
                                <p id="indi-desc">Seeking a creative designer and developer to create a social media application using React. The application should include features such as user profiles, posts, likes, and comments.</p>
                                <p id="indi-date">Posted on 2024-03-14</p>
                            </div>
                            <div class="profile-rating">
                                <i class="bi bi-person-circle indi-name"> <span>Sheinfactory</span></i>
                                <div class="Stars" data-rating="3.6" style="--rating: 3.6;">
                                    <span>3.6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="/org/view_profile">
                    <div class="indi-ad-card">
                        <div class="indi-adimg">
                            <div class="blurry-background" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9GbmrgDFmSKQl6_aFSa8WBfzDL8-ukccWI_vwfwK9AQ&s');"></div>
                            <img id="indiad-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9GbmrgDFmSKQl6_aFSa8WBfzDL8-ukccWI_vwfwK9AQ&s">
                        </div>
                        <div class="indi-content">
                            <div class="title-desc-date">
                                <h2 id="indi-title">Sam Smith</h2>
                                <p id="indi-desc">Seeking an experienced designer and developer to develop a blog platform using React. The platform should allow users to create, publish, and manage blog posts.</p>
                                <p id="indi-date">Posted on 2024-03-04</p>
                            </div>
                            <div class="profile-rating">
                                <i class="bi bi-person-circle indi-name"> <span>Samsmite12</span></i>
                                <div class="Stars" data-rating="4.7" style="--rating: 4.7;">
                                    <span>4.7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="/org/view_profile">
                    <div class="indi-ad-card">
                        <div class="indi-adimg">
                            <div class="blurry-background" style="background-image: url('https://ftw.usatoday.com/wp-content/uploads/sites/90/2024/04/USATSI_22655239.jpg?w=1000&h=600&crop=1');"></div>
                            <img id="indiad-img" src="https://ftw.usatoday.com/wp-content/uploads/sites/90/2024/04/USATSI_22655239.jpg?w=1000&h=600&crop=1">
                        </div>
                        <div class="indi-content">
                            <div class="title-desc-date">
                                <h2 id="indi-title">Ava Martinez</h2>
                                <p id="indi-desc">Seeking a skilled designer and developer to design and build a recipe sharing website with React. Users should be able to browse recipes, create accounts, and submit their own recipes.</p>
                                <p id="indi-date">Posted on 2024-02-29</p>
                            </div>
                            <div class="profile-rating">
                                <i class="bi bi-person-circle indi-name"> <span>Ava123</span></i>
                                <div class="Stars" data-rating="4.1" style="--rating: 4.1;">
                                    <span>4.1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
            </div>

        </div>
    </div>
{% endblock %}