{% extends "accountinfo.html" %}

{% block import_files %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/org_contracts_history.css') }}">
<!-- <script src="/static/js/acc_settings.js" type="module"></script> -->
{% endblock %}

{% block title %}Contract History{% endblock %}

{% block acc_info_options_display %}
<div class="title-filter-btns">
    <h2 id="page-title">Contract History</h2>
    <div class="filter-btns-contract-history">
        <button class="contract-history-filters" id="all-btn"><span>All</span></button>
        <button class="contract-history-filters" id="ongoing-btn"><span>Ongoing</span></button>
        <button class="contract-history-filters" id="open-btn"><span>Open</span></button>
        <button class="contract-history-filters" id="completed-btn"><span>Closed</span></button>
    </div>
</div>
<div class="contracts-history">
    {% for contract in contracts %}
        <div class="contract-card" data-status="{{contract['status']}}">
            <div  class="contract-text">
                <div class="comp-name-date">
                    <h2 id="comp-name">Taken By: {{contract['indi_username']}}</h2>
                    {% if contract['status'] == 'Ongoing' %}
                        <p>Started on {{contract['start_date']}}</p>
                    {% else %}
                        <p>Completed on {{contract['completion_date']}}</p>
                    {% endif %}
                </div>
                <div class="contract-title-desc">
                    <h2>{{contract['title']}}</h2>
                    <p>{{contract['desc']}}</p>
                </div>
                <div class="price-edit-delete-btns">
                    {% if contract['total_payed'] == None %}
                        <p>Agreed Pay: ${{contract['agreed_pay']}}</p>
                    {% else %}
                        <p>Total Payed: ${{contract['total_payed']}}</p>
                    {% endif %}
                        <div class="edit-delete-btns">
                            <button id="edit-btn"><span>Edit</span></button>
                            <button id="delete-btn"><span>Delete</span></button>
                        </div>
                </div>
            </div>
            <div class="contract-status">
                <h2 class="status-heading">{{contract['status']}}</h2>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}