{% extends 'layout.html' %}

{% block css_file %}
    <link rel="stylesheet" href="static/css/signup.css">
{% endblock %}

{% block image %}
    <img id="leftimg" src="static/images/homepage1.jpg">
{% endblock %}

{% block maincontent %}
    <div class="otpcontainer">
        <!-- individuals -->
        <div class="otpcard">
            <div class="verification-text">
                <h1 id="verification">Verification</h1>
                <p>To complete your registration please enter the 6-digit verification code sent to 
                    <span style="font-weight: 700; color: #fff;">{{masked_email}}</span></p>
            </div>
            
            <div class="otp-input">
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
                <input class="otpfield" type="text"
                    inputmode="numeric" maxlength="1" />
            </div>

            <!-- The form that gonna get submitted with the otp as one combined variable -->
            <form id="submit-form" method="POST">
                {{ csrf_token }}
                {{ form.hidden_tag() }}

                <input id="combinedotp" type="text" name="otp" hidden>
                <button id="verify-bttn" type="submit">Verify</button>
            </form>

            <p id="return">Return to <a href="{{url_for('auth.user_register')}}">Sign Up</a></p>
        </div>
    </div>
    <script>
        const otpFields = document.querySelectorAll('.otpfield');
        const combinedotp = document.getElementById('combinedotp');
        console.log("deez");

        otpFields.forEach((field, index) => {
            field.addEventListener('keydown', (event) => {
                const isNumeric = event.keyCode !== 8 && (event.keyCode >= 48 && event.keyCode <= 57);
                const value = event.target.value;
                // If the field is filled and it's not the last field
                if (value && index < otpFields.length - 1) {
                    // Insert the typed character into the next field
                    if (isNumeric) {
                        // Move focus to the next field
                        otpFields[index + 1].focus();
                        otpFields[index + 1].value = event.key;
                    }
                } else if (index > -1) {
                    // Disable all filled fields except the current one
                    otpFields.forEach((field, idx) => {
                        if (idx !== index) {
                            field.disabled = true;
                        }
                    });
                } else if (!value && index < otpFields.length - 1) {
                    // If the current field is empty, move focus back to it
                    otpFields[index].focus();
                }
            });
        });
    </script>
{% endblock %}