<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Register</h1>

    <form method="post" action="{{ url_for('temp_register') }}">
        {{ form.hidden_tag() }}
        {{ form.first_name.label }} {{ form.first_name() }}
        {{ form.last_name.label }} {{ form.last_name() }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.password.label }} {{ form.password() }}
        <input type="submit" value="Register">
    </form>
</body>
</html>