{% extends 'layout.html' %}

{% block css_file %}
<link rel="stylesheet" href="static/css/signup.css">
<link rel="stylesheet" href="static/css/phone_number_styles.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/static/js/register.js" type="module"></script>
{% endblock %}


{% block image %}
    <img src="static/images/homepage1.jpg">
{% endblock %}


{% block maincontent %}

    <div class="signup-content">

        <div class="signup-card">
            <p class="title">Sign up</p>

            <form method="POST" class="signup-form">
                {{ csrf_token }}
                {{ form.hidden_tag() }}

                <div class="input-name">
                    <div class="inpfields">
                        <input class="{% if form.first_name.errors %}has-error{% endif %}" type="text" name="first_name" placeholder="First name" value="{% if form.first_name.data %}{{ form.first_name.data }}{% endif %}">
                        {% if form.first_name.errors %}
                            {% set error_message = form.first_name.errors[0] %}
                            {% if error_message.endswith('.') %}
                                {% set error_message = error_message[:-1] %}
                            {% endif %}
                            <p class="error-msg">{{ error_message }}</p>
                        {% endif %}
                    </div>
                    <br>
                    <div class="inpfields">
                        <input class="{% if form.last_name.errors %}has-error{% endif %}" type="text" name="last_name" placeholder="Last name" value="{% if form.last_name.data %}{{ form.last_name.data }}{% endif %}">
                        {% if form.last_name.errors %}
                            {% set error_message = form.last_name.errors[0] %}
                            {% if error_message.endswith('.') %}
                                {% set error_message = error_message[:-1] %}
                            {% endif %}
                            <p class="error-msg">{{ error_message }}</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="inpfields">
                    <input class="{% if form.username.errors %}has-error{% endif %}" type="text" name="username" placeholder="Username" value="{% if form.username.data %}{{ form.username.data }}{% endif %}">
                    {% if form.username.errors %}
                        {% set error_message = form.username.errors[0] %}
                        {% if error_message.endswith('.') %}
                            {% set error_message = error_message[:-1] %}
                        {% endif %}
                        <p class="error-msg">{{ error_message }}</p>
                    {% endif %}
                </div>
                <br>
                <div class="inpfields">
                    <input class="{% if form.phone_number.errors %}has-error{% endif %}" id="phone" name="phone_number" placeholder="Phone no. (Optional) Eg: +97150XXXXXXX" value="{% if form.phone_number.data %}{{ form.phone_number.data }}{% endif %}">
                    {% if form.phone_number.errors %}
                        {% set error_message = form.phone_number.errors[0] %}
                        {% if error_message.endswith('.') %}
                            {% set error_message = error_message[:-1] %}
                        {% endif %}
                        <p class="error-msg">{{ error_message }}</p>
                    {% endif %}
                </div>
                <br>
                <div class="inpfields">
                    <input class="{% if form.email.errors %}has-error{% endif %}" name="email" placeholder="Email" value="{% if form.email.data %}{{ form.email.data }}{% endif %}">
                    {% if form.email.errors %}
                        {% set error_message = form.email.errors[0] %}
                        {% if error_message.endswith('.') %}
                            {% set error_message = error_message[:-1] %}
                        {% endif %}
                        <p class="error-msg">{{ error_message }}</p>
                    {% endif %}
                </div>
                <br>
                <div class="inpfields">
                    <input class="{% if form.password.errors %}has-error{% endif %}" type="password" name="password" placeholder="Password" >
                    {% if form.password.errors %}
                        {% set error_message = form.password.errors[0] %}
                        {% if error_message.endswith('.') %}
                            {% set error_message = error_message[:-1] %}
                        {% endif %}
                        <p class="error-msg">{{ error_message }}</p>
                    {% endif %}
                </div>
                <br>
                <div class="inpfields">
                    <input class="{% if form.confirm_password.errors %}has-error{% endif %}"type="password" name="confirm_password" placeholder="Re-enter password" >
                    {% if form.confirm_password.errors %}
                        {% set error_message = form.confirm_password.errors[0] %}
                        {% if error_message.endswith('.') %}
                            {% set error_message = error_message[:-1] %}
                        {% endif %}
                        <p class="error-msg">{{ error_message }}</p>
                    {% endif %}
                </div>
                <br>
                
                <!-- Hidden expertise field -->
                <select name="expertise" id="ms-hidden-list" multiple>
                    {% for skill in form.expertise.choices %}
                        <option value="{{ skill }}">{{ skill }}</option>
                    {% endfor %}
                </select>
                {% if form.expertise.data %}
                    <select id="user-expertise-data" multiple>
                        {% for data in form.expertise.data %}
                            <option value="{{ data }}" onsubmit="addTag({{ data }})">{{ data }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <!-- Visual expertise field -->
                <div class="ms-holder">
                    <ul class="ms-tag-list" id="ms-tag-list">
                        <!-- {% if form.expertise.data %}
                            {% for data in form.expertise.data %}
                                <li class="tag">{{ data }}</li>
                            {% endfor %}
                        {% endif %} -->
                    </ul>
                    <ul class="ms-input-field" id="ms-input-field">
                        <input type="text" class="ms-search" id="ms-search" placeholder="Add Field of Proficiency tags (Optional)" autocomplete="off">
                    </ul>
                    <div class="ms-dropdown" id="ms-dropdown">
                        <div class="ms-list">
                            {% for skill in form.expertise.choices %}
                                <div class="option" data-value="{{ skill }}">{{ skill }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <br>
                <button id="proceed-verification" type="submit" onclick="window.location.href = `{{url_for('auth.otp')}}`">Proceed to verification</button>
            </form>
            
            <p class="acc-exists">Already have an account? <a href="{{ url_for('auth.user_login') }}">Sign in</a></p>

        </div>
        
        <div class="or">
            <span>Or</span>
            <hr class="line">
            <hr class="line">
        </div>

        <a href="{{ url_for('auth.org_register') }}">
            <button class="other-signin">
                <span>Sign up as a company</span>
            </button>
        </a>

    </div>

{% endblock %}


