<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <form method = "post">
        {{ csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.org_name( placeholder = form.org_name.label.text ) }}
        <br>
        {{ form.email( placeholder = form.email.label.text ) }}
        <br>
        {{ form.password( placeholder = form.password.label.text ) }}
        <br>
        {{ form.confirm_password( placeholder = form.confirm_password.label.text) }}
        <br>
        {{ form.industry( placeholder = form.industry.label.text ) }}
        <br>
        {{ form.company_website( placeholder = form.company_website.label.text ) }}
        <br>
        {{ form.contact_person_email( placeholder = form.contact_person_email.label.text ) }}
        <br>
        {{ form.recaptcha }}


        <button type = "submit">Register</button>
        <br>
        <a href = "{{ url_for('home') }}">Go back home</a>

    </form>
</body>


</html>