<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Password Reset</h1>

    {% if not show_password_fields %}
    <form method="post">
        {{ csrf_token }}
        {{ form.hidden_tag() }}

        {{form.email(placeholder=form.email.label.text)}}
        <br><br>
        <button type="submit"> Submit Email</button>
    </form>
    {% else %}
    <form method="post">
        {{ csrf_token }}
        {{ form.hidden_tag() }}

        {{ form.password( placeholder=form.password.label.text )}}
        {{ form.confirm_pass( placeholder=form.confirm_pass.label.text )}}

        <br><br>
        <button type="submit"> Reset Password</button>
    </form>
    {% endif %}
    
</body>
</html>