<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: black; color: white;">

    <form method = "post">
        {{ csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.username_or_email( placeholder = form.username_or_email.label.text ) }}
        <br>
        {{ form.password( placeholder = form.password.label.text ) }}

        <button type = "submit">Log in</button>
        </form>
        
        <br><br>
        <a href="{{ url_for('auth.reset_pass') }}" style="color: cyan;">Forgot Password? Do you have dementia?</a>
        <br>
        <pre>
    Do you know who else has dementia?
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠋⠉⠄⠄⠄⠄⠄⠄⠈⠉⠙⠛⠿⣿⣿⣿⣿⣿⣿⣿ 
⣿⣿⣿⠛⠿⠁⠘⠟⠁⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠙⢿⣿⣿⣿⣿ 
⣿⣿⡿⠆⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠙⣿⣿⣿ 
⣿⠏⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠘⢿⣿ 
⣿⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢸⣿ 
⡏⠄⠄⠄⠄⠄⠄⠄⢸⣦⣴⣷⣴⣷⣤⣴⣦⣴⣦⣤⣦⣴⣦⠄⠄⠄⠄⢀⣶⣾⣿ 
⡇⠄⠄⠄⠄⠄⠄⠄⣸⣿⣿⣿⣻⠿⠿⣿⣛⣛⣛⣛⣿⣿⣿⠄⠄⠄⢸⣿⣿⣿⣿ 
⡇⠄⠄⠄⠄⠄⠄⠄⣿⣿⣿⣿⢣⣾⣿⣶⣶⠐⣴⣶⣦⣰⣿⠄⠄⠄⢸⣿⣿⣿⣿ 
⡇⠄⠄⠄⠄⠄⠄⠄⣿⣿⣿⣿⠸⠿⣿⠿⢿⡸⠿⣿⡿⢹⣿⠄⠄⠄⢾⣿⣿⣿⣿ 
⡇⠄⠄⠄⠄⠄⠄⠄⣿⣿⣿⠿⣁⣀⣀⢺⣐⣏⣻⢆⣴⣾⣿⠄⠄⠄⣿⣿⣿⣿⣿ 
⣇⠄⠄⠄⠄⠄⠄⠄⣿⣿⣯⣾⡁⠄⡀⠍⣛⢛⡛⠛⠻⡝⡏⠄⠄⠄⣿⣿⣿⣿⣿ 
⣿⠄⠄⠄⠄⠄⠄⠄⣿⣿⣿⣿⣿⣤⣃⡺⠄⠤⢁⣀⣼⣿⡇⠄⠄⢀⣿⣿⣿⣿⣿ 
⣿⠄⠄⠄⠄⠄⠄⢠⣿⣿⣿⣿⣿⣿⣷⣿⣭⣭⣿⣿⣿⣿⡇⠄⠄⢸⣿⣿⣿⣿⣿ 
⢏⡀⢀⠄⠄⠄⠄⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢽⣿⣿⣿⠁⠄⠄⠸⢿⣿⣿⣿⣿ 
⣿⣿⣿⣷⣶⣿⣇⠻⣿⣿⣿⣿⣿⣿⣷⣭⣭⣽⣿⣿⣿⡿⣀⣠⣶⣿⣆⢻⣿⣿⣿</pre>

    <br><br><br>
    
    <a href = "{{ url_for('home') }}">Go back home</a>
</body>
</html>