<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <form method = "post">
        {{ csrf_token }}
        {{ form.hidden_tag() }}
        
        {{ form.first_name( placeholder = form.first_name.label.text ) }}
        <br>
        {{ form.last_name( placeholder = form.last_name.label.text) }}
        <br>
        {{ form.username( placeholder = form.username.label.text ) }}
        <br>
        <label for = "phone">Phone Number</label>
        <input type = "tel" id = "phone" name = "phone_number">
        <br>
        {{ form.email( placeholder = form.email.label.text ) }}
        <br>
        {{ form.password( placeholder = form.password.label.text ) }}
        <br>
        {{ form.confirm_password( placeholder = form.confirm_password.label.text ) }}
        <br>
        {{ form.expertise( placeholder = form.expertise.label.text) }}
        <br>
        {{ form.recaptcha }}


        <button type = "submit">Register</button>

    </form>
</body>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>

<a href = "{{ url_for('home') }}">Go back home</a>

</html>