<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ csrf_token }}
    {{ form.hidden_tag() }}

    {{ form.otp.label }} {{ form.otp }}
    {{ form.recaptcha }}

    <button type = "submit">Submit</button>

</body>
</html>

<!-- <script type="application/javascript">
    // Add event listener for beforeunload event
    window.addEventListener('beforeunload', function (e) {
        // Cancel the event
        e.preventDefault();
        // Chrome requires returnValue to be set
        e.returnValue = '';
    });

    // Optionally, you can also prompt the user with a custom message
    window.onbeforeunload = function() {
        return 'Are you sure you want to leave?'; // This message is shown in some browsers
    };
</script> -->